*.iml
.gradle
.gradle-test-home/
.gradle-user-home/
.kotlin/
.idea
.vscode
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/
/app/src/main/assets/sing-box
/service_account_credentials.json
/release.keystore
/release.keystore.local
/device-configuration.db
/device-current.png
/device-sager_net.db
/device-window.xml
/rapid-switch-3s.png
/rapid-switch-500ms.png
/rapid-switch-log.txt
jniLibs/
/library/libcore_build/
.idea/deploymentTargetDropDown.xml
/nkmr
/tmp/
/tools/
/.tools/
/phone-*.png
/phone-window.xml
/nekobox-*.png
/whatsapp-*.png
/nekobox_state*.xml
/0
/.reasonix/

# submodules
/external
