*.iml
.gradle
.gradle-test-home/
.gradle-user-home/
.kotlin/
.idea
.vscode
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/
/app/src/main/assets/sing-box
/service_account_credentials.json
jniLibs/
/library/libcore_build/
.idea/deploymentTargetDropDown.xml
/nkmr
/tmp/
/tools/
/phone-*.png
/phone-window.xml
/nekobox-*.png
/whatsapp-*.png
/nekobox_state*.xml
/0
/.reasonix/

# submodules
/external
